.conteiner{
    margin-left: 20px;
    margin-right: 20px;
}

.mat-icon{
    position: relative;
    top:3px;
}

.plus{
    position: relative;
    top:-50px!important;
    margin-left: 80%;
    font-size: 40px;    
}

/* mat-grid-tile {
    background: lightblue;
    padding: 10px;
} */



