<h1 mat-dialog-title>Fechamento de Comanda:</h1>
<div mat-dialog-content>
  <h4> Cliente: {{data.clienteName}} </h4>
  <h4>Produtos Pedidos:</h4>
  <div *ngFor="let item of data.itens">
    <p>{{item.quantidade}} x {{item.produto.nome}}     {{item.preco | currency:'BRL'}}  <br></p>
  </div>
  <h4>Total: {{data.total | currency:'BRL'}}</h4>
  <h4>Tem Certeza que deseja fechar esta comanda?</h4>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirmar</button><!-- [mat-dialog-close]="data.description" -->
  </div>
</div>