<section>
  <h1> Atraia Clientes e Aumente seu Faturamento</h1>
  <div class="row">


    <div class="column">
      <app-text-icon-card class="text-icon-card" [cardAvatar]="bottonCardAvatar1" [cardTitle]="bottonCardTitle1" [cardText]="bottonCardText1"  ></app-text-icon-card>
    </div>
    <div class="column">
      <app-text-icon-card class="text-icon-card" [cardAvatar]="bottonCardAvatar2" [cardTitle]="bottonCardTitle2" [cardText]="bottonCardText2"  ></app-text-icon-card>
    </div>
    <div class="column">
      <app-text-icon-card class="text-icon-card" [cardAvatar]="bottonCardAvatar3" [cardTitle]="bottonCardTitle3" [cardText]="bottonCardText3" ></app-text-icon-card>
    </div>

  </div>
</section>
<div id="DivPartner">
  <app-want-be-a-partner-button routerLink="cadastrar"></app-want-be-a-partner-button>
</div>
<section>
<div class="row">
  <h1>
    Os melhores planos para sua empresa.
  </h1>
  <div class="column" >
    <app-rounded-text-icon-card class="rounded-text-icon-card" [cardAvatar1]="bottonCardAvatar4" [cardTitle1]="bottonCardTitle4" [cardText1]="bottonCardText4"  ></app-rounded-text-icon-card>
  </div>
  <div class="column">
    <app-rounded-text-icon-card class="rounded-text-icon-card" [cardAvatar1]="bottonCardAvatar5" [cardTitle1]="bottonCardTitle5" [cardText1]="bottonCardText5"  ></app-rounded-text-icon-card>
  </div>
  <div class="column">
    <app-rounded-text-icon-card class="rounded-text-icon-card" [cardAvatar1]="bottonCardAvatar6" [cardTitle1]="bottonCardTitle6" [cardText1]="bottonCardText6"  ></app-rounded-text-icon-card>
  </div>

</div>
</section>
