.conteiner{
    margin-left: 20px;
    margin-right: 20px;
}

/* Structure */
table {
    width: 100%;
}

.mat-form-field {
    font-size: 18px;
    width: 40%;
}

.novo-pedido{
    background-color: green;
    color: white;
}

.fechar-comanda{
    background-color: red;
    color: white;
}

