.owner-register-card {
  min-width: 150px;
  background: white;
  color: black ;
  opacity: 70%;
  padding: 20px;
}

.form {
  min-width: 150px;
  width: 100%;
}

.checkbox-div{
  display:inline
}

p.c { 
  margin-left: 10px;
  max-width: 500px;
  display: inline-flex;
}

.inputs {
  width: 100%;
}

  