.conteiner{
    margin-left: 20px;
    margin-right: 20px;
}

/* Structure */
table {
    width: 100%;
}

.mat-form-field {
    font-size: 18px;
    width: 40%;
}

.mat-icon{
    position: relative;
    top:3px;
}

.plus{
    position: relative;
    top:10px!important;
    margin-left: 50%;      
    font-size: 40px;  
}