.container  {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10%;
    width: 100%;
  }
  
  .container .row {
    margin: 0 auto;    
    min-width: 150px;
    max-width: 300px;
    width: 100%;
  }
  .email-full-width {
    width: 100%;
  }