<div class="container">
  <mat-card class="row valign-wrapper" *ngIf="request" >
    <mat-card-header>
      <mat-card-title>Redefinir Senha</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Insira o e-mail da conta que deseja redefinir a senha:
      </p>
      <div>
        <mat-form-field class="email-full-width">
          <input matInput  placeholder="Email" [formControl]="emailFormControl"
                  [errorStateMatcher]="matcher">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Por favor insira um email válido
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            É <strong>necessário</strong> inserir um email
          </mat-error>
        </mat-form-field>
        <app-cancel-button routerLink="../entrar" routerLinkActive="active"></app-cancel-button>
        <app-next-button (click)="redefine()" ></app-next-button>
      </div>
    </mat-card-content>
  </mat-card>  
  <mat-card class="row valign-wrapper" *ngIf="send">   
    <mat-card-header>
      <mat-card-title>
          Email enviado favor checar sua caixa de entrada
      </mat-card-title>
    </mat-card-header>
  </mat-card>   
  
</div>
